python gdb.COMPLETE_EXPRESSION = gdb.COMPLETE_SYMBOL
add-auto-load-safe-path ../scripts/gdb/vmlinux-gdb.py
file vmlinux
lx-version
set args umid=uml0 root=/dev/root rootfstype=hostfs rootflags=[[HOME]]/build/rootfs rw mem=64M init=/bin/sh
handle SIGSEGV nostop noprint
handle SIGUSR1 nopass stop print
